.card {
    background-color: white;
    width: 80vw;
    height: 100vw;
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.171);
    border-radius: 3vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow-y: auto;
}

.imgSection {
    flex: 1;
    background-color: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSection > img {
    height: 90%;
    width: min(90%, auto);
}

.detailSection {
    flex: 1;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailSection > h2 {
    font-size: 5vw;
    padding-top: 3%;
}

.desc {
    font-size: 4vw;
}

.desc > button {
    font-weight: 100;
    background: none;
    border: none;
    text-decoration: underline;
    color: inherit;
    font-size: inherit;
}

.price {
    color: hsl(49, 38%, 50%);
    font-weight: bold;
    font-size: 4vw;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3%;
}

.actions > p {
    display: none;
}

.qtyButton {
    background-color: #3d8361;
    border: none;
    font-size: 5vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    gap: 2vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    width: 6vw;
    height: 6vw;
    text-align: center;
    padding: 0 1vw;
    border-radius: 3vw;
    border: 1px solid black;
}

.buyButton {
    background-color: #3d8361;
    color: white;
    border: none;
    font-size: 5vw;
    border-radius: 5vw;
    padding: 2vw;
}

.qtyLabel {
    font-size: 4.5vw;
}

@media screen and (min-width: 768px) {
    .card {
        width: 23vw;
        height: 23vw;
        border-radius: 0.8vw;
    }

    .detailSection > h2 {
        font-size: 1.2vw;
    }

    .desc {
        font-size: 0.9vw;
    }

    .price {
        font-size: 1vw;
    }

    .qtyLabel {
        font-size: 1vw;
    }

    .qtyButton {
        font-size: 0.9vw;
        padding: 0.5vw;
        width: 1.2vw;
        height: 1.2vw;
        transition: transform 0.1s ease;
        padding-bottom: 0.6vw;
        align-items: center;
    }

    .qtyButton:hover {
        transform: scale(1.05);
        transition: transform 0.1s ease;
    }

    input[type="number"] {
        height: 1.2vw;
        width: 1.2vw;
        padding: 0 0.5vw;
        font-size: 0.9vw;
        display: flex;
        align-items: flex-end;
    }

    .inputContainer {
        gap: 0.5vw;
    }

    .buyButton {
        font-size: 1vw;
        padding: 0.35vw 0.6vw;
        transition: transform 0.1s ease;
    }

    .buyButton:hover {
        transform: scale(1.05);
        transition: transform 0.1s ease;
    }
}
