.cart {
    right: 0;
    position: fixed;
    width: 100%;
    height: 92vh;
    background-color: #3d8361;
    z-index: 2;
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

.cart::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.cart::-webkit-scrollbar-track {
    background: transparent;
}
.cart::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 999px;
}

.checkoutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    align-self: stretch;
    color: white;
}

.checkoutSection > hr {
    color: white;
    width: 50vw;
}

.netTotal {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 5vw;
    font-weight: lighter;
}

.checkoutButton {
    background-color: #d6cda4;
    border: none;
    font-size: 6vw;
    padding: 3vw 4vw;
    border-radius: 8vw;
    align-self: flex-end;
    margin-right: 5%;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 25vw;
        padding: 3vh 0.5vw;
        height: 90vh;
        box-sizing: border-box;
        overflow-x: hidden;
        top: 10vh;
    }

    .checkoutSection > hr {
        width: 20vw;
    }

    .netTotal {
        font-size: 1.5vw;
    }

    .checkoutButton {
        font-size: 1.5vw;
        padding: 1vw 1.2vw;
    }
}
